*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
}


a{text-decoration:none; color: inherit;}

.container{margin: 0 auto;}

.full-container{width: 100%;}

.dos-columnas{}

.tres-columnas{}

.cuatro-columnas{}

.grid-container{display:grid;}

.flex-container{display:flex;}



/*CLASES GLOBALES ↑↑↑ -----------------------------------------------*/


/*EFECTOS ↓↓↓ ---------------------------------------------------*/
.efecto_cristal-1{
    background-color: #eaeaea62;
    backdrop-filter: blur(8px); 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*DEGRADADOS ↓↓↓ ---------------------------------------------------*/
.gradient-principal{
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 94, 1) 0%, rgba(229, 229, 211, 0.7) 50%, rgba(217, 217, 217, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    /*background: radial-gradient(circle,rgba(255, 255, 94, 1) 0%,rgba(232, 232, 194, 0.75) 35%, rgba(233, 233, 233, 0.75) 50%, rgba(255, 255, 255, 0) 65%);*/
}
.gradient-principal_linear{
    background: #ffffff;
    background: linear-gradient(180deg,rgba(255, 255, 94, 1) 0%, rgba(229, 229, 211, 0.7) 50%, rgba(217, 217, 217, 0.5) 60%, rgba(255, 255, 255, 1) 100%);
}


/*BOTONES ↓↓↓ ---------------------------------------------------*/
    .button_enviar{
        border-radius: 2em;
        color: white;
        background-color: black;
    }
    .button_redireccion{
        background-color: rgb(186, 186, 181);
        color: #000;
        border-radius: 1000em;
        padding: 0.7em 1.8em;
        font-family: inherit;
        font-size: 1em;
        font-weight: 700;
        border: none;
        box-shadow: none;
        outline: none;
    }
        .button_redireccion:hover {
            background-color: #7d7d7d;
        }


/*CLASES ELEMENTOS GENERALES ↓↓↓ -------------------------------*/

/*Nabvar---------------------------------------*/
    /*Barra de navegación*/
    .navbar {
        position: fixed;       
        top: 0;                
        left: 0;               
        width: 100%;           
        z-index: 1000;         
    }
    .navbar-block{
        padding: 0.75em 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        /*Logo Navbar*/
        .logo-nabar{
            font-weight: 600;
            font-size: 1.5em;
        }
        /*Botón hamburguesa*/
        .button_hamburguesa {
            background: none;
            border: none;
            color: black;
            cursor: pointer;
            padding-top: 0.25em;
        }
        .icon-menu{
            font-size: 3.25em;
            cursor: pointer;
        }

    /*Bloque desplegable*/
    .bloque_menu-desplegable {
        list-style: none;
        display: none;
        background-color: #eaeaea;
        color: black;
    }

    .bloque_menu-desplegable li{
        border-bottom: 1px solid #555;
    }

    .bloque_menu-desplegable li a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
    }

    .bloque_menu-desplegable li a:hover {
        background-color: #555;
    }

    /* Checkbox:
        Mostrar el menú cuando el checkbox está marcado:
        toggle-menu: es un <input type="checkbox"> oculto que actúa como interruptor (on/off).
        :checked: es un pseudoselector que aplica estilos cuando el checkbox está marcado (cuando el menú está abierto).
        +: es el combinador de hermano adyacente. Solo selecciona el siguiente hermano inmediato en el HTML.*/
    .checkbox_menu-desplegable {
    display: none;
    }
    .checkbox_menu-desplegable:checked + .navbar-block + .bloque_menu-desplegable {
        display: flex;
        flex-direction: column;
    }

    /* Alinear horizontalmente en pantallas grandes (opcional)
  @media (min-width: 768px) {
    .hamburger-button {
      display: none;
    }

    ul {
      display: flex !important;
      justify-content: flex-end;
      gap: 1rem;
      background: none;
    }

    ul li a {
      padding: 0.5rem 1rem;
    }
  }*/

/*Nabvar-Cierre*-----------------*/


/*Footer-----------------------------------------------------*/
    footer{
        position: fixed;                     
        left: 0;               
        bottom: 0;  
        width: 100%;           
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 2em 1em 1.5em;
    }

    footer p {
        color: black;
    }

    footer a {
        text-decoration: underline;
    }



/* CLASES HOME ↓↓↓ ------------------------------------------*/
    /*Bloque de presentación*/
    .main_presentacion{
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: 8em;
    }
        /*Header presentación*/
        .header_presentacion{
            position: absolute;
            bottom: 26%;
            z-index: 100;
            width: 100%;
            text-align: center;
        }
        
            .header_presentacion p{
                font-size: 2.25em;
                font-weight: 700;
                padding-bottom: 1em;
            }
        
            .header_presentacion h1{
                font-size: 1.5em;
                font-weight: 650;
                padding-bottom: 1em;
            }

            .header_presentacion h2{
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.9rem;
            }


        /*Sección aura*/
        .seccion-aura{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            position: relative;
            top: 10%;
        }
            /*Bloque Degradado + flor*/
            .gradient_home{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 38vh;
                width: 38vh;
                border-radius: 1000em;
            }
                .img_flor-home{
                    width: 30%;
                    height: 30%;
                }

            /*Bloque botones flotantes*/
            .bloque_buttons-redireccion{
                position: absolute;
                height: 100%;
                width: 100%;
            }

                .button_bio-home{
                    position: absolute;
                    top: 22%;
                    left: 8%;
                }
                .button_portfolio-home{
                    position: absolute;
                    top: -10%;
                    left: 50%;
                }
                .button_contact-home{
                    position: absolute;
                    top: 30%;
                    left: 60%;
                }


        /*Sección redes flotantes*/
        .seccion_redes{
            position: absolute;
            width: 100%;
            bottom: 5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.75em 0 1.5em;
        }
            .bloque_redes {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0.75em;
                }
                
                .bloque_redes a {
                color:#555;
                font-size: 2.25rem;
                transition: color 0.3s ease;
                }

                .bloque_redes a:hover {
                color: #000000;
                }


/* CLASES BIO ↓↓↓ ------------------------------------------*/ 
.main_bio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 6em;
}

/*Indicador de página --------------------*/
.indicador_bio {
    width: 90%;
    background-color: #eaeaea;
    margin-bottom: 1em;
}  

/*Card Bio -------------------------------*/
.card_bio{
    width: 90%;
    background-color: #eaeaea;
    border-radius: 1em;
    margin-bottom: 10em;
}
    /*Sección Imagen de perfil--*/
    .seccion_img-perfil{
        width: 100%;
        }
        .img-perfil-background{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 1em;
        }
            .img-perfil{
                width: 90%;
            }

    /*Sección Texto de la bio----------*/
    .seccion_texto-bio{
        padding: 1.5em;
        font-size: 1.2em;
    }
        /*Bloque de texto*/
        .bloque_texto-bio{
        }
            .header_bio{
                margin: 3em 0 4em 0;
                text-align: center;
            }
            
                .header_bio h1{
                    font-size: 2.25em;
                    font-weight: 700;
                    padding-bottom: 1em;
                }

                .header_bio h2{
                    font-size: 1.5em;
                    font-weight: 400;
                    line-height: 2rem;
                }
    
            .bloque_texto-bio p{
                line-height: 1.5rem;
            }

            .bloque_texto-bio em{
                font-weight: 600;
            }
        
        /*Lista de Trayectoria*/   
        .lista-bio{
            margin: 6em 0 ;
        }
            .lista-bio dt{
                margin-top: 1em;
            }
                .lista-bio dt::before{
                    content: "arrow_downward";  /* nombre del icono */
                    font-family: 'Material Symbols Rounded';
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 400,
                        'GRAD' 0,
                        'opsz' 24;
                    margin-right: 0.5em;
                    vertical-align: middle;
                
                }

            .lista-bio dd{
                padding-left: 1.5em;
                margin-bottom: 1em;
            }
        
        /*Botón de redirección a portfolio*/ 
        .button_card-bio {
            width: 100%;
        }  

    

/*Botón portfolio----------*/





/* CLASES PORTFOLIO ↓↓↓ ------------------------------------------*/

/* CLASES CONTACTO ↓↓↓ ------------------------------------------*/




/*MEDIAQUERIES ↓↓↓ --------------------------*/
/*
-------------------------------------------------------
                a partir de 768px
-------------------------------------------------------
*/
@media screen and (min-width: 768px) {
    /*Nabvar---------------------------------------*/
        /*Bloque desplegable*/
        .bloque_menu-desplegable {
            width: 40%;
            position: absolute;
            right: 0;
        }

        
}
/*a partir de 768px*/


/*
-------------------------------------------------------
                a partir de 992px
-------------------------------------------------------
*/
@media screen and (min-width: 992px) {
    /*Nabvar---------------------------------------*/
        /*Bloque desplegable*/
        .bloque_menu-desplegable {
            width: 25%;
            position: absolute;
            right: 0;
        }
    }
/*a partir de 992px*/


/*
-------------------------------------------------------
                a partir de 1200 px
-------------------------------------------------------
*/
@media screen and (min-width: 1200px) {
    
}
/*a partir de 1200px*/