/*MODO DE USO DE GOOGLE FONTS

    // <weight>: Use a value from 400 to 700
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;

    // <weight>: Use a value from 100 to 900

    .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;}
*/


/*Estilos generales ------------------*/
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vh;
}


/*HEADER
Tendrá una posición normal que no afecte al flujo del document.*/
header{
    width: 100vw;
    padding: 8vw 3vw 4vw 3vw; 
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    line-height: 80%;
    font-weight: 700;
    font-size: 20vw;
    margin: 0 0 2vh 0;
    padding: 0;
}

h2{
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    line-height: 80%;
    font-weight: 700;
    font-size: 6vw;
    margin: 0 0 2vh 0;
    padding: 0;
}

.flechas{
    font-weight: 900;
    font-size: 3vw;
    margin: 0;
    padding: 0;
}


/*NAV
aparecerá debajo del header, pero al hacer scroll y llege al borde del navegador se mantendrá fijo.*/
.navbar-block{
    position: sticky;
    top: 0px;
    width: 100vw;
    padding: 1vh 2vw;
    margin: 0;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    border-bottom: 1.5px solid rgba(209, 213, 219, 0.3);
    color: black;
}

.navbar-bar{
    padding: 0;
    margin: 0;
}

.navbar-element{
    display: inline-block;
    padding: 0;
    margin: 0 1vw 0 0 ; 
    font-size: 1.75vh;
}

#navbar-logo{
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5vh;
    margin: 0 3vw 0 0 ; 
}

/*SECTION
Contiene el contenido principal y deberá no afectar al flujo normal del documento. */

h3{
    font-size: 5vh;
}

.main-container{
    line-height: 125%;
    display: flex;
    width: 100vw;
    padding-bottom: 5vh;
}

.main-section{
    width: 70%;
    background-color: rgb(153, 190, 255);
    padding: 12vh 6vw;
}

    /*Listas ----------------------------------------*/
    dl{
        margin-top: 6vh;
        width: 80%;   
    }
    dt{
        font-weight: bold;
        margin-bottom: 2vh;
    }
    dd{
        margin-bottom: 2.5vh;
    }
    /*imgs ----------------------------------------*/
    .gif-conchas{
        width: 100%;
        margin: 7vh 0 10vh 0;
    }

/*ASIDE
posicionado a la derecha de la sección principal del contenido y alineado en vertical con section.
Fondo distinto y un tamaño definido para que sea claramente visible.*/
.main-aside{
    height: 100%;
    width: 30%;
    background-color: blue;
    height: inherit;
}


/*FOOTER
Anclado en la parte inferior de la ventana del navegador. Siempre visible, tmbn cuando el usuario se desplace hacia abajo en la página.*/
footer{
    position: fixed;
    bottom: 0px;
    z-index: 3;
    width: 100vw;
    margin: 0px;
    padding: 0.5vh 0.5vw;
    background-color: black;
    color:gainsboro;
}

.footer-element{
    display: inline-block;
    margin: 0 3vw;
    padding: 0;
    font-size: 1.75vh;
}


/*Estilos específicos------------------*/