/*MODO DE USO DE GOOGLE FONTS

    // <weight>: Use a value from 400 to 700
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;

    // <weight>: Use a value from 100 to 900

    .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    fnot-optical-sizing: auto;}
*/


/*Estilos generales ------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vh;
}

a{
    text-decoration: none;
    color: inherit;
}



/*HEADER
Tendrá una posición normal que no afecte al flujo del document.*/
header{
    width: 100%;
    padding: 8vw 3vw 4vw 3vw; 
}

h1,h2{
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    line-height: 80%;
    font-weight: 700;
    margin: 0 0 2vh 0;
}
h1{
font-size: 20vw;
}
h2{
    font-size: 6vw;
}

.flechas{
    font-weight: 900;
    font-size: 3vw;
}



/*NAV
aparecerá debajo del header, pero al hacer scroll y llege al borde del navegador se mantendrá fijo.*/
.navbar-block{
    position: sticky;
    top: 0px;
    padding: 1.5vh 0vw 1.5vh 1vw;
    background: rgba(255, 255, 255, 0.819);
    backdrop-filter: blur(5px);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    color: black;
}

.navbar-bar{    
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;*/
}

.navbar-element{
    display: inline-block;
    margin: 0 3vw 0 0 ; 
    font-size: 2vh;
    font-weight: 400;
    text-transform: lowercase;
}

#navbar-logo{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    margin: 0 50vw 0 0 ; 
    text-transform: uppercase;
}



/*SECTION & ASIDE
Contiene el contenido principal y deberá no afectar al flujo normal del documento. */
h3{
    font-size: 4.5vh;
}

/*.main-container{
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0;
}*/


/*.main-section{
    width: 70%;
    background-color: rgb(205, 223, 255);
    padding: 12vh 8vw;
}*/
    /*Listas ----------------------------------------*/
    dl{
        margin-top: 6vh;
        width: 90%;   
    }
    dt{
        font-weight: bold;
        margin-bottom: 2vh;
    }
    dd{
        margin-bottom: 2.5vh;
    }
    /*imgs ----------------------------------------*/
    .gif-conchas{
        width: 100%;
        margin: 7vh 0 10vh 0;
    }
    .gif-paisaje{
        height: 100%;
    }



/*ASIDE
posicionado a la derecha de la sección principal del contenido y alineado en vertical con section.
Fondo distinto y un tamaño definido para que sea claramente visible.*/
/*.main-aside{
    height: 100%;
    width: 30%;
    background-color: blue;
    height: inherit;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    align-items: center;
}*/

.main-container {
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.main-section {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: inherit;
    background-color: rgb(205, 223, 255);
    padding: 2vh 4vw;
    font-size: 2.5vh;
}

.main-aside {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 200vh;
    background-color: blue;
    font-size: 16px;
}



/*FOOTER
Anclado en la parte inferior de la ventana del navegador. Siempre visible, tmbn cuando el usuario se desplace hacia abajo en la página.*/
footer{
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100vw;
    margin: 0;
    padding: 1.5vh 1vw 2vh 1vw;
    background: rgba(0, 0, 0, 0.969);
    backdrop-filter: blur(5px);
    color: white;
}

.footer-element{
    display: inline-block;
    margin: 0;
    padding: 0 3vw;
    font-size: 1.75vh;
    color: white;
}